/* ===== 공통 페이지 레이아웃 ===== */
.loginPage,
.joinPage {
  width: 100vw;
  margin: 100px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.loginPage h2 img,
.joinPage h2 img {
  width: clamp(200px, 20vw, 238px);
}

/* ===== 공통 탭 스타일 ===== */
.tab-login,
.tab-join {
  font-size: 0;
}

.tab-login button,
.tab-join button {
  font-size: 18px;
  font-weight: 500;

  width: 50%;
  padding: 25px 0 35px;

  border: 1px solid #c4c4c4;
  border-radius: 10px;
  background-color: #f2f2f2;
}

.tab-login button.focusBtn,
.tab-join button.focusBtn {
  background-color: #fff;

  padding: 25px 0 22px;

  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  position: relative;
  z-index: 20;
}

/* ===== 공통 컨테이너 ===== */
.login-container,
.join-container {
  width: 550px;
}

/* ===== 공통 폼 스타일 ===== */
#loginForm,
#joinForm {
  margin-top: -15px;
  padding-top: 34px;

  border: 1px solid #c4c4c4;
  border-radius: 0 10px 10px 10px;

  background-color: #fff;

  position: relative;
  z-index: 10;

  display: flex;
  flex-direction: column;
}

/* ===== 로그인 폼 ===== */
#loginForm {
  text-align: center;
  gap: 6px;
}

#loginForm input {
  width: 85%;
  height: 60px;
  padding-left: 10px;
  border-bottom: 1px solid #c4c4c4;
}

#loginForm input::placeholder {
  color: #767676;
}

#loginForm > button {
  margin: 15px 0 30px;
  width: 85%;
  height: 60px;

  align-self: center;

  font-size: 18px;
  font-weight: 700;

  color: #fff;
  background-color: #21bf48;
  border-radius: 5px;
}

.login-footer {
  margin-top: 30px;
  display: flex;
  gap: 10px;
}

/* ===== 회원가입 폼 ===== */
#joinForm {
  padding: 40px 35px 20px;
  gap: 10px;
}

/* 공통 입력 필드 스타일 */
#join-pw,
#join-repw,
#join-name,
#join-number,
#user-number-mid,
#user-number-end {
  height: 54px;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
}

#join-pw,
#join-repw,
#join-name {
  width: 100%;
}

/* 아이디 입력 섹션 */
.join-check-id {
  font-size: 0;
}

#join-id,
.id-checkBtn {
  font-size: 16px;
  /* display: inline-block; */
  height: 54px;
  border-radius: 5px;
}

#join-id {
  width: calc(70% - 2px);
  margin-right: 2%;
  border: 1px solid #c4c4c4;
}

.id-checkBtn {
  width: 28%;
  font-weight: 500;
  color: #fff;
  background-color: #21bf48;
}

/* 비밀번호 필드 체크 아이콘 */
#join-pw,
#join-repw {
  background-image: url('../assets/icons/icon-check-off.svg');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 28px 28px;
}

/* 전화번호 입력 */
.user-number {
  display: flex;
  gap: 10px;
}

#join-number,
#user-number-mid,
#user-number-end {
  width: 33.333%;
  text-align: center;
}

/* ===== 공통 포커스 스타일 ===== */
#join-number:focus,
#join-id:focus,
#join-pw:focus,
#join-repw:focus,
#join-name:focus,
#user-number-mid:focus,
#user-number-end:focus {
  border-color: #21bf48;
  outline: none;
}

/* ===== 에러 메시지 ===== */
#login-error,
#join-error {
  text-align: start;
  margin: 20px 0 0 clamp(20px, 5vw, 40px);

  color: #eb5757;
  font-weight: 500;
}

#join-error {
  margin: 0 0 10px;
}

/* ===== 폼 하단 영역 ===== */
.form-footer {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.checkbox-agree {
  padding: 0 7.5%;

  display: flex;
  flex-direction: row;
  gap: 10px;
}

.checkbox-agree,
.checkbox-agree > label,
.checkbox-agree input {
  cursor: pointer;
}

.checkbox-agree input[type="checkbox"] {
  appearance: none;
  margin-top: 2px;
  width: 16px;
  height: 16px;
  
  background-image: url('../assets/icons/check-box.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.checkbox-agree input[type="checkbox"]:checked {
  background-image: url('../assets/icons/check-fill-box.svg');
}

.checkbox-agree > label {
  color: #767676;
}

.checkbox-agree span {
  font-weight: 700;
  text-decoration: underline;
  color: #767676;
}

.form-footer > button {
  margin: 15px 0 30px;
  width: 85%;
  height: 60px;

  align-self: center;

  font-size: 18px;
  font-weight: 700;

  color: #fff;
  background-color: #c4c4c4;
  border-radius: 5px;
}
