.loginPage {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginPage h2 img {
  width: clamp(200px, 20vw, 238px);
  margin-bottom: 70px;
}

/* 로그인 창 */
.tab-login {
  font-size: 0;
}

.tab-login button {
  /* 패딩값 계산 후 수정 필요 */
  padding: 25px 60px 35px;

  font-size: 18px;
  font-weight: 500;

  border: 1px solid #c4c4c4;

  border-radius: 10px;

  background-color: #F2F2F2;
}

.tab-login button.focusBtn {
  background-color: #fff;

  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  padding: 25px 60px 22px;

  position: relative;
  z-index: 20;
}

#loginForm {
  margin-top: -15px;
  padding-top: 34px;
  
  border: 1px solid #c4c4c4;
  border-radius: 10px;

  background-color: #fff;

  position: relative;
  z-index: 10;

  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 6px;
}

#loginForm input {
  width: 85%;
  height: 60px;

  border-bottom: 1px solid #c4c4c4;
}

#loginForm input::placeholder {
  color: #767676;
}

#login-error {
  text-align: start;
  margin: 20px 0 0 clamp(20px, 5vw, 40px);
  color: #EB5757;
  font-weight: 500;
}

#loginForm > button {
  margin: 15px 0 30px;

  width: 85%;
  height: 60px;

  align-self: center;

  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #21BF48;
  border-radius: 5px;
}

.login-footer {
  margin-top: 30px;

  display: flex;
  gap: 10px;
}