.loginPage,
.joinPage {
  width: 100vw;
  height: calc(100vh + 100px);
  margin: 100px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.loginPage h2 img,
.joinPage h2 img {
  width: clamp(200px, 20vw, 238px);
}

/* 로그인 창 */
.tab-login,
.tab-join {
  font-size: 0;
}

.tab-login button,
.tab-join button {
  font-size: 18px;
  font-weight: 500;

  width: 50%;
  padding: 25px 0 35px;

  border: 1px solid #c4c4c4;

  border-radius: 10px;

  background-color: #F2F2F2;
}

.tab-login button.focusBtn,
.tab-join button.focusBtn {
  background-color: #fff;

  padding: 25px 0 22px;

  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  position: relative;
  z-index: 20;
}

.login-container,
.join-container {
  width: 550px;
}

#loginForm {
  margin-top: -15px;
  padding-top: 34px;
  
  border: 1px solid #c4c4c4;
  border-radius: 0 10px;

  background-color: #fff;

  position: relative;
  z-index: 10;

  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 6px;
}

#loginForm input {
  width: 85%;
  height: 60px;

  padding-left: 10px;

  border-bottom: 1px solid #c4c4c4;
}

#loginForm input::placeholder {
  color: #767676;
}

#login-error,
#join-error {
  text-align: start;
  margin: 20px 0 0 clamp(20px, 5vw, 40px);
  color: #EB5757;
  font-weight: 500;
}

#join-error {
  margin: 0 0 10px;
}

#loginForm > button {
  margin: 15px 0 30px;

  width: 85%;
  height: 60px;

  align-self: center;

  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #21BF48;
  border-radius: 5px;
}

.login-footer {
  margin-top: 30px;

  display: flex;
  gap: 10px;
}

/* 회원가입창 */
#joinForm {
  margin-top: -15px;
  padding-top: 34px;
  padding: 40px 35px 20px;
  
  border: 1px solid #c4c4c4;
  border-radius: 0 10px;

  background-color: #fff;

  position: relative;
  z-index: 10;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

#join-pw,
#join-repw,
#join-name {
  width: 100%;
  height: 54px;
  
  border-radius: 5px;
  border: 1px solid #c4c4c4;
}

.join-check-id {
  font-size: 0;
}

#join-id,
.id-checkBtn {
  font-size: 16px;
  display: inline-block;
}

#join-id {
  width: calc(70% - 2px);
  height: 54px;

  margin-right: 2%;
  
  border-radius: 5px;
  border: 1px solid #c4c4c4;
}

.id-checkBtn {
  width: 28%;
  height: 54px;

  border-radius: 5px;

  font-weight: 500;
  color: #fff;
  background-color: #21BF48;
}

.checkbox-agree span {
  font-weight: 700;
  text-decoration: underline;
  color: #767676;
}

#join-pw,
#join-repw {
  background-image: url('../assets/icons/icon-check-off.svg');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 28px 28px;
}

.user-number {
  display: flex;
  gap: 10px;
}

#join-number,
#user-number-mid,
#user-number-end {
  width: 33.333%;
  height: 54px;

  text-align: center;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
}

#join-number:focus,
#join-id:focus,
#join-pw:focus,
#join-repw:focus,
#join-name:focus,
#user-number-mid:focus,
#user-number-end:focus {
  border-color: #21BF48;
  outline: none;
}

.form-footer {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.checkbox-agree {
  padding: 0 7.5%;
}

.checkbox-agree > label {
  color: #767676;
}

.form-footer > button {
  margin: 15px 0 30px;

  width: 85%;
  height: 60px;

  align-self: center;

  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #C4C4C4;
  border-radius: 5px;
}

