main {
  margin-top: 170px;
  width: 70vw;
  padding: 0 15vw;
}

main > article {
  display: flex;
  gap: 50px;
}

main img {
  width: clamp(450px, 35vw, 600px);
  height: clamp(450px, 35vw, 600px);
  object-fit: cover;
}

main > article > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#product_name,
#price {
  font-size: 36px;
}

#price {
  margin-top: 4px;
  font-weight: 700;
}

#store-name,
#price span {
  font-size: 18px;
}

.purchase-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.purchase-box > span {
  color: #767676;
  width: 100%;
}

.quantity-control {
    border: 1px solid #C4C4C4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: clamp(50px, 90%, 150px);
    height: 50px;
}

.quantity-control button {
    font-size: 18px;
}

#quantity {
    text-align: center;
    border-left: 1px solid #C4C4C4;
    border-right: 1px solid #C4C4C4;
    font-size: 16px;
    cursor: default;
}

#quantity::-webkit-outer-spin-button,
#quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

hr {
  width: 100%;
  color: #C4C4C4;
}

.receipt {
  align-items: flex-end;
}

.receipt,
.buy-basket {
  display: flex;
  justify-content: space-between;
  gap: 14px;
}

.receipt p:first-child {
  font-size: 18px;
  font-weight: 500;
}

.receipt p,
.buy-basket,
#total-quantity {
  font-size: 18px;
}

#total-quantity {
  color: #21BF48;
  font-weight: 700;
}

.receipt p:last-child {
  color: #767676;
}

.receipt p span:nth-child(2)::before {
  content: '|';
  color: #C4C4C4;
  margin: 0 10px;
  font-size: 18px;
}

#total-price,
#total-price::after {
  color: #21BF48;
}

#total-price {
  font-size: 36px;
  font-weight: 700;
}

#total-price::after {
  content: '원';
  font-size: 18px;
  font-weight: 400;
}

.buy-basket {
  height: 60px;
}

#buy,
#basket {
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
}

#buy {
  background-color: #21BF48;
  width: 70%;
}

#basket {
  background-color: #767676;
  width: 30%;
}

.product_details-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 100px 0 0;
}

.tab.active {
  color: #21BF48;
  font-weight: 700;
  border-bottom: 6px solid #21BF48;
}

.tab {
  font-size: 18px;
  font-weight: 500;
  color: #767676;

  height: 60px;
  border-bottom: 6px solid #E0E0E0;
}

.action-info {
  height: 359px;
}